@model IEnumerable<ITSupportForum.Models.Post>

@{
    ViewData["Title"] = "Home";
}

@foreach (var item in Model)
{
    <div class="post-card">

        <img src="/uploads/@item.ImageUrl" />

        <div class="post-body">

            <div class="post-title">
                @item.Title
            </div>

            <br />

            <div class="post-content">
                @item.Content
            </div>

            <br />

            <small class="text-secondary">
                @item.CreatedAt
            </small>

            <hr />

            <a asp-controller="Posts"
               asp-action="Details"
               asp-route-id="@item.Id"
               class="btn btn-primary btn-custom">

                View Post

            </a>

        </div>

    </div>
}